@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

html, body, td, div, ul, nav, li, a, button {
    font-family: 'Open Sans', sans-serif;
}

body {
  margin:0;
  padding:0;
  color:#393939;
  background-color:#fcfcfc;
}

#manoirHeaderBar {
    display:block;
    border-bottom:solid 1px #dcdcdc;
    background:#ffffff;
}

    #manoirHeaderBar nav {
        position: fixed;
        visibility: hidden;
        height: calc(100% - 59px);
        padding: 10px 10px 0 0;
        width: 240px;
        border-right: solid 1px #efefef;
        z-index: 5;
        background: #ffffff;
        border-top: solid 1px #efefef;
    }



    #manoirHeaderBar nav ul {
        padding:0;
        margin:0 0 0 10px;
        list-style-type:none;
    }

    #manoirHeaderBar nav ul li {
        display:block;
        padding:8px 0;
    }

    #manoirHeaderBar nav a {
        text-decoration:none;
        color:#393939;
    }


    #manoirHeaderBar nav.opened {
        visibility: visible;
    }

    #manoirHeaderBar nav #navPublic {
        display:none;
    }

    #manoirHeaderBar nav.public #navPublic {
        display: block;
    }

    #manoirHeaderBar nav #navUser {
        display: none;
    }

    #manoirHeaderBar nav.user #navUser {
        display: block;
    }

    #manoirHeaderBar .header-bar {
        display: flex;
        flex-flow: row nowrap;
        height: 47px;
    }

    #manoirHeaderBar .breadCrumb {
        flex-grow: 1;
        padding: 10px;
        font-size: 20px;
    }

    #manoirHeaderBar .breadCrumb ul {
        margin:0;
        list-style-type:none;
        padding:0;
    }

    #manoirHeaderBar .breadCrumb li {
        display:inline-block;
        color:#898989;
    }

    #manoirHeaderBar button {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    #manoirHeaderBar button.journal-button {
        font-size: 18px;
        background: #004F7C;
        padding: 4px 10px 0px 10px;
        color: white;
    }

    #manoirHeaderBar button.login-button {
        width:160px;
        display:inline-block;
    }

    #manoirHeaderBar .button-switch-page-type {
        display:block;
        width:100%;
        position:absolute;
        height:30px;
        top:calc(100% - 30px);
        left:0;
        background:#efefef;
        text-align:center;
    }

    main article {
        padding: 10px 24px;
        max-width: 768px;
        margin: auto;
    }